lab/.gradle/
lab/build/

!lab/gradle/wrapper/gradle-wrapper.jar
!lab/gradle/wrapper/gradle-wrapper.properties

.idea/
lab/.idea/
.vscode/
*.iml
*.class

*.log

*.swp
*.swo
*~
.DS_Store
Thumbs.db

.env
